[user]
  name=yoshioka
  email=natsumi.yoshioka@ipresence.jp
[alias]
  co = checkout
  ci = commit
  st = status
  sh = stash
  sp = stash pop
  br = branch
  ll = log --all --graph
  rb = rebase
  cb = symbolic-ref --short HEAD
